* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #BEAEE2;
  background-color: lightgray;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #BEAEE2;
  border: 1px solid #BEAEE2;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #F7DBF0;
  border-color: #F7DBF0;
}